<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="/stylesheets/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <form method="POST" action="/register" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please create account</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
      autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

    <label for="inputLevel" class="sr-only">Password</label>
    <select class="custom-select" name="level" id="inputLevel">
      <option value="1">Select user level</option>
      <option value="1">User</option>
      <option value="2">Moderator</option>
      <option value="3">Admin</option>
    </select>
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign up</button>
    <div class="py-3">
      <a href="/login">Existing user, Please Login here</a>
    </div>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
  </form>


</body>

</html>